
  <div class="col-md-6 col-md-offset-3">
    <div class="thumbnail"><br>
      <div class="row">
        <div class="col-md-12">
          <div class="user_name" style="display:inline-block;">
            <strong><%= post.user.user_name %></strong>
          </div>
          <div class="time" style="display:inline-block;float:right;">
            <%= time_ago_in_words post.created_at %> ago
          </div>
        </div>
      </div><br>
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>

      <div class="caption">
        <strong><%= post.user.user_name %> </strong> <%= post.caption %><br>
        <div id="comments_<%= post.id %>">
          <% if post.comments %>
            <% post.comments.each do |comment| %>
              <strong><%= comment.user.user_name %></strong>  <%= comment.content %>
              <% if comment.user == current_user %>
                <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                  <span><i class="glyphicon glyphicon-remove delete-comment"></i></span>
                <% end %>
              <% end %>
              <br>
            <% end %>
          <% end %>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-1">
            <span><i class="glyphicon glyphicon-heart-empty"></i></span>
          </div>
          <div class="comment-form col-sm-11">
            <%= form_for [post, post.comments.new], remote: true do |f| %>
            <%= f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{post.id}" %>
            <% end %>
          </div>
        </div>
      </div>

    </div><br>
  </div>
